@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: rgb(217, 255, 179);
}
.card1 {
  width: 25em;
  height: 38em;
  background-color: #ffffff;
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
  border-radius: 0.8em;
  margin-top: 2%;
}
button {
  margin-top: 2%;
}
